fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx
requests
Pillow
fastapi-sso
Jinja2
itsdangerous
SQLAlchemy-Utils
celery
redis
flower
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Babel